/.vscode
/*pyc
/data/new_processed_data
/data/processed_data
/data/raw_data
/debug_results
/eval_results/qwen_balanced/*npy
/eval_results/qwen_rgb_text_only/*npy
/evaluation_results/*npz
/evaluation_results/*npy
/inference_test_set
/inference_test_set1
/models/bert-base-chinese
/models/qwen2.5-7b
outputs
verify_image
batch_predictions.json
diagnose_training_issue.py
no_hsi_inference_fixed.json
no_hsi_inference.json
training_config.json



